<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <h3><i>Create a new listing!</i></h3>
    <hr />
    <form method="POST" action="/listings" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          type="text"
          class="form-control"
          placeholder="What's your place called?"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          class="form-control"
          placeholder="Describe the unique features and amenities"
          rows="3"
          required
        ></textarea>
        <div class="invalid-feedback">Provide proper details!</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input
          name="listing[image]"
          type="url"
          class="form-control"
          placeholder="https://www.example.com/"
        />
        <div class="invalid-feedback">Please enter a proper URL</div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            type="number"
            class="form-control"
            placeholder="Set the nightly rate in INR"
            required
          />
          <div class="invalid-feedback">Please enter a valid price!</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            type="text"
            class="form-control"
            placeholder="Eg. India"
            required
          />
          <div class="invalid-feedback">Please enter a country name!</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Location</label>
        <input
          name="listing[location]"
          type="text"
          class="form-control"
          placeholder="Eg. Jaipur,Rajasthan,India"
          required
        />
        <div class="invalid-feedback">Location should be valid!</div>
      </div>
      <button class="btn btn-dark">List My Place!</button> <br />
      <br />
    </form>
  </div>
</div>
